body{
    background-image: url("https://imgs.search.brave.com/SFM8f1buCw7eNzD93IRTJC9WhWxPoHOtpem5GmfYpRg/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJ0YWcuY29t/L3dhbGxwYXBlci9m/dWxsLzcvMy8yLzE1/NDY4OS1jb29sLWNv/ZGluZy1iYWNrZ3Jv/dW5kLTE5MjB4MTI4/MC1mb3ItdGFibGV0/LmpwZw");

}
image{
    width: 100%;
    height: 100%;
}